<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>The Incline</title>
</head>
<body class="content">
    
    <header><h1 id="webname">The Duquesne Incline</h1> 
        <nav><a href="../index.html">Home</a>
            <a href="contact.html">Visitor Information</a>
            <a href="shop.html">Gift Shop</a>
            <a href="about.html">Learn More About The Incline</a>
        </nav>
        <div class="logo">
            <img class="logoStyle" src="../static/DuqInclineLogo.png" alt="logo">
        </div>
    </header>
    <div class="mainLayout">
        <h1>Important Information and Opportunities:</h1>
        <item1>
            <h3 class="important">Hours of Operation:</h3>
            <p>
                <div>Open 365 Days a Year</div>
                <div>Everyday From: 6:30 a.m. to 12:30 a.m.</div>
                <div></div>
                <div>No Reservations</div>
                <div>No Advance Tickets</div>
            </p>
        </item1>
        <item2>
            <h3 class="important">Fares:</h3>
            <p>
                <div>Adults (Ages 12-64) $2.50 Each Way or $5.00 Round Trip</div>
                <div>Children (Ages 6-11) $1.25 Each Way or $2.50 Round Trip</div>
                <div></div>
                <div>Children 5 and Under Free</div>
                <div>University of Pittsburgh Students Free, with proper I.D.</div>
                <div>Carnegie Mellon Students Free, with proper I.D.</div>
                <div>Chatham University Students Free, with proper I.D.</div>
            </p>
        </item2>
        <item3>
            <h3 class="important">Group Rates:</h3>
            <p>
                <div>Group Rates are Valid for Any Group of Ten or More People</div>
                <div>Adults (Ages 12-64) $1.75 Each Way or $3.50 Round Trip</div>
                <div>Children (Ages 6-11) $1.00 Each Way or $1.75 Round Trip</div>
                <div></div>
                <div>Cash fares as well as Port Authority bus passes and tickets are accepted as payment.</div>
                <div>Seniors age 65 or older who present a blue or yellow PRT card or a Senior Connect Card ride free.</div>
                <div>Wheelchair accessibility is via the Upper Station located 1220 Grandview Avenue Pittsburgh, Pa. 15211.</div>
            </p>
        </item3>
        <item4>
            <h3 class="important">City Tours that Feature Us:</h3>
            <p>
                <div><a href="http://www.pghtoursandmore.net/">PITTSBURGH TOURS AND MORE - Pittsburgh Movie Locations, Sports, Breweries, Wineries and More.</a></div>
                <div><a href="http://www.mollystrolleyspgh.com/">MOLLY'S TOLLEYS</a></div>
                <div><a href="http://www.riversofsteel.com/">RIVERS OF STEEL</a></div>
                <div><a href="http://www.pghtours.com/">THE PITTSBURGH TOUR COMPANY - Hop on/Hop off Double Decker tour buses from London.</a></div>
            </p>
        </item4>
        <item5>
            <h3 class="important">Field Trip Program:</h3>
            <p>
                <div>Group Rates are Valid for Any Group of Ten or More People</div>
                <div>Adults (Ages 12-64) $1.75 Each Way or $3.50 Round Trip</div>
                <div>Children (Ages 6-11) $1.00 Each Way or $1.75 Round Trip</div>
                <div></div>
                <div>Cash fares as well as Port Authority bus passes and tickets are accepted as payment.</div>
                <div>Seniors age 65 or older who present a blue or yellow PRT card or a Senior Connect Card ride free.</div>
                <div>Wheelchair accessibility is via the Upper Station located 1220 Grandview Avenue Pittsburgh, Pa. 15211.</div>
            </p>
        </item5>
        <item6>
            <h3 class="important">Useful Links</h3>
            <p>
                <div><a href="https://www.facebook.com/TheDuquesneIncline">Our Facebook</a></div>
                <div><a href="https://www.yelp.com/biz/duquesne-incline-pittsburgh">Yelp</a></div>
                <div><a href="https://www.viator.com/Pittsburgh-attractions/Duquesne-Incline/d22639-a21677 ">Viator</a></div>
                <div><a href="https://www.visitpittsburgh.com/directory/duquesne-incline/ ">Visit Pittsburgh</a></div>
                <div><a href="https://en.wikipedia.org/wiki/Duquesne_Incline ">Check out our Wikipedia page</a></div>
            </p>
        </item6>
        <item7>
            <h2 class="important">Contact Us With Any Further Questions</h2>
            <form>
                <p></p>
                <div>Your name(required)</div>
                <input type="text" id="name" name="name" required>
                <div>your email(required)</div>
                <input type="email" id="email" name="email" required>
                <div>your question(required)</div>
                <input type="text" id="comment" name="comment" required>
                <input type="submit" value="submit" onclick="checkValid()">
                <div id = "valid">Please make sure your inputs are valid</div>
            </form>
        </item7>
    </div>
    <ul>
        <li>Call Us At 412-381-1943</li>
        <li>Email Us At<a href="mailto:duq.incline@duquesneincline.org">duq.incline@duquesneincline.org</a></li>
    </ul>
    <footer><p> designed and coded by Billy McGrath &#169; 2025 </p></footer>
</body>
</html>