<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>The Incline</title>
</head>
<body class="content">
    <header><h1 id="webname">The Duquesne Incline</h1> 
        <nav><a href="../index.html">Home</a>
            <a href="contact.html">Visitor Information</a>
            <a href="shop.html">Gift Shop</a>
            <a href="about.html">Learn More About The Incline</a>
        </nav>
        <div class="logo">
            <img class="logoStyle" src="../static/DuqInclineLogo.png" alt="logo">
        </div>
    </header>
    <div class="content">
        <h2>Make sure you check out our Gift Shop!</h2>
        <div>We have many items that are only available at the incline, such as:</div>
        <ul>
            <li>Shot Glasses</li>
            <img src="../static/shot glasses.jpg" alt="shot glasses" class="shop">
            <li>Wooden Incline Ornaments</li>
            <img src="../static/incline ornament.jpg" alt="wooden ornament" class="shop">
            <li>and a wide variety of Wendell August Forge metal plates</li>
            <img src="../static/metal plates.jpg" alt="metal plates" class="shop">
        </ul>
        <p>So make sure you stop by when you visit!
            Click the image below to see the original gift shop page
        </p>
        <a href="https://www.duquesneincline.org/index1065.html?page=gift-shop"><img src="../static/gift shop shot.jpg" alt="gift shop wide shot" class="shop"></a>
    </div>
    <footer>all images sourced from the original duquesne incline website</footer>
    <footer><p> designed and coded by Billy McGrath &#169; 2025 </p></footer>
</body>
</html>